.pop-box {
  width: 50%;
  height:80%;
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;

  background: rgba(255,255,255,0.2);
}


.pop-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.pop-overlay:target {
  visibility: visible;
  opacity: 1;
}
.pop-content {
  padding-top:60px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:60px;
  font-family: "Arial";
  font-size: 20px;
  line-height:27px;
}

.pop-content .indent{
  text-indent:20px;
}

a{
  color:#000;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 10px;
  margin-left:20px;
  color: #333;
  font-family: "Arial";
  font-size: 32px;
  font-weight:700;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #b0b0b0;
}
.popup .content {
  max-height: 500px;
  overflow: auto;
}

